.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}


.pokemon .name {
    color: #fff;
    margin: .25rem 0;
    margin-bottom: 0;
    text-transform: capitalize;

}

.pokemon .number {
    color: #000;
    text-align: right;
    opacity: .3;
    font-size: .625rem;
}

.pokemon .detail img {
    border-style: none;
    max-width: 100%;
    height: 80px;

}

.pokemon .detail img:hover{
    scale: 1.2;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;

}

.more_details {
    width: 50%;
    margin-top: 2%;
    padding: 4%;
    border-radius: 5px;
    font-size: 0.625rem;
    color: #fff;
}

.more_details:hover {
    scale: 1.05;
}

.more_details_normal {
    border: 2px solid #717249;
    background-color:  #85865d;
    box-shadow: -1px 3px 0  #898a61, -0.18rem 6px 0  #85865d;
    cursor: pointer;
}
  
.more_details_grass {
    border: 2px solid #2d680d;
    background-color: #58a037;
    box-shadow: -1px 3px 0 #356320, -0.18rem 6px 0 #58a037;
    cursor: pointer;
}
  
.more_details_fire {
    border: 2px solid #9c470a;
    background-color: #c76823;
    box-shadow: -1px 3px 0 #8b4817, -0.18rem 6px 0 #c76823;
    cursor: pointer;
}
  
.more_details_water {
    border: 2px solid #365191;
    background-color: #5074ca;
    box-shadow: -1px 3px 0  #3e5ba0, -0.18rem 6px 0 #5074ca;
    cursor: pointer;
}

.more_details_electric {
    border: 2px solid #8f7614;
    background-color: #d1ad1d;
    box-shadow: -1px 3px 0 #a58812, -0.18rem 6px 0#f7cf2e;
    cursor: pointer;
}
  
.more_details_ice {
    border: 2px solid #3f8486;
    background-color: #6fbfc2;
    box-shadow: -1px 3px 0 #4b9a9c, -0.18rem 6px 0 #6fbfc2;
    cursor: pointer;
}
  
.more_details_ground {
    border: 2px solid #a0812e;
    background-color: #c5a44a;
    box-shadow: -1px 3px 0 #a1873d, -0.18rem 6px 0 #c5a44a;
    cursor: pointer;
}
  
.more_details_poison {
    border: 2px solid #5e1a5e;
    background-color: #7c297c;
    box-shadow: -1px 3px 0 #772677, -0.18rem 6px 0 #7c297c;
    cursor: pointer;
}

.more_details_fighting {
    border: 2px solid #7c1813;
    background-color: #a0221b;
    box-shadow: -1px 3px 0 #99241e, -0.18rem 6px 0 #a0221b;
    cursor: pointer;
}
  
.more_details_psychic {
    border: 2px solid  #b42b54;
    background-color:  #cc3663;
    box-shadow: -1px 3px 0 #d33f6c, -0.18rem 6px 0  #cc3663;
    cursor: pointer;
}
  
.more_details_dark {
    border: 2px solid #272727;
    background-color: #444;
    box-shadow: -1px 3px 0 #222, -0.18rem 6px 0 #000;
    cursor: pointer;
}
  
.more_details_rock {
    border: 2px solid #79671b;
    background-color: #998425;
    box-shadow: -1px 3px 0 #968228, -0.18rem 6px 0 #998425;
    cursor: pointer;
}

.more_details_bug {
    border: 2px solid #656e10;
    background-color: #879415;
    box-shadow: -1px 3px 0 #848f20, -0.18rem 6px 0 #879415;
    cursor: pointer;
}
  
.more_details_ghost {
    border: 2px solid #3c2c5c;
    background-color: #634c8b;
    box-shadow: -1px 3px 0 #49386d, -0.18rem 6px 0 #634c8b;
    cursor: pointer;
}
  
.more_details_steel {
    border: 2px solid #7c799c;
    background-color: #a19ebb;
    box-shadow: -1px 3px 0 #9491b1, -0.18rem 6px 0 #a19ebb;
    cursor: pointer;
}
  
.more_details_dragon {
    border: 2px solid #3e199b;
    background-color:  #6035cc;
    box-shadow: -1px 3px 0 #542db8, .18rem 6px 0  #6035cc;
    cursor: pointer;
}

.more_details_fairy {
    border: 2px solid #be708a;
    background-color: #d38da4;
    box-shadow: -1px 3px 0 #d48ba3, -0.18rem 6px 0 #d38da4;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    font-size: .625rem;
    padding: .625rem;
    cursor: pointer;
    margin: 0.4rem;
}

.pagination button:hover {
    background-color:#d4cf72;
    color: #000;
}

@media screen and (min-width: 330px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon .detail img {
        border-style: none;
        max-width: 100%;
        height: 40px;
    
    }

    .more_details {
        width: 50%;
        margin-top: 5%;
        padding: 2%;
        border-radius: 5px;
        font-size: 0.625rem;
        color: #fff;
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon .detail img {
        border-style: none;
        max-width: 100%;
        height: 58px;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pokemon .detail img {
        border-style: none;
        max-width: 100%;
        height: 68px;
    
    }
}